@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Rampart+One&display=swap');

*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    min-height: 100vh;
    /*background: linear-gradient(#5cd0ff,#e5a8e3);*/
    background-image: url(images/bg-2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section{
    padding: 20px 100px;
    font-family: 'Montserrat', sans-serif;
}

.everythang{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    justify-content: space-between;
}