@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Rampart+One&display=swap');

*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    min-height: 100vh;
    background: linear-gradient(#5cd0ff,#0731eb);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section{
    padding: 20px 200px;
    font-family: 'Montserrat', sans-serif;
}

.products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.text-1{
    font-size: 70px;
    text-align: center;
    font-weight: 600;
    padding-top: 60px;
}

/*------IMAGES------*/
img{
    padding: 0 15px;
}

.img-wrapper{
    margin-bottom:10px;
    margin-top:10px;
}

/*------NAVBAR-------*/
.navbar {
    position: fixed;
    width: 100%;
    background: #010624;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.menu-items{
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    font-size: 28px;
}

/*---------PRODUCT CARD-----------*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    max-width: 300px;
    border-radius: 10px;

    /*background-color: white;*/
    background: rgba(255, 255, 255, 0.2);
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 20px 5px 20px 5px; 
}

.card:hover {

}

.card h1 {
    padding: 15px;
}

.card p {
    font-size: 14px;
}
  
.price {
    color: black;
    font-size: 22px !important;
    padding: 10px;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;    
}
  
.card button:hover {
    opacity: 0.7;
}

/*-------CART-------*/
.cart {
    margin: 10px 70px;
    background-color: white;
    border-radius: 10px;
}

.cart table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.cart table thead {
    font-weight: 700;
}

.cart table thead td{
    background: #0731eb;
    color: white;
    border: none;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
    width: 100%;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}